<style>
  input[type='radio'],
  label {
    cursor: pointer;
  }

  section {
    .dataTables_wrapper {
      overflow: scroll;
    }

    #tabs {
      margin-top: 15px;
      width: 100%;
      height: 2em;
      border-bottom: solid 1px black;

      input[type='radio'] {
        display: none;
      }

      input:checked+label {
        background: hsl(0, 0%, 80%);
      }

      label {
        float: left;
        font-weight: 700;
        border: solid 1px black;
        border-bottom: none;
        padding: 4px 8px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: hsl(0, 0%, 90%);
        margin: 0 5px;

        &:hover {
          background: hsl(0, 0%, 85%);
        }
      }

      display: none;
    }

    #tabs {
      display: inherit;
    }

    .tabbedContent {
      display: none;
    }

    .tabbedContent.selected {
      display: inherit;
    }

    #options {
      width: 100%;

      &:before,
      &:after {
        content: ' ';
        display: table;
        box-sizing: border-box;
        clear: both;
      }

      .option {
        float: left;
        border: solid 1px grey;
        padding: 3px;
        width: calc(50% - 15px);
        margin-bottom: 15px;
        margin-right: 15px;

        input[type='range'] {
          width: 100%;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
</style>


<section>
  <div id="tabs">

    {{#parseArray tabs}}
    <input type="radio" id="{{this}}Tab" name="tabs" value="{{this}}Tab">
    <label style="text-transform: capitalize;" for="{{this}}Tab">{{this}}</label>
    {{/parseArray}}

  </div>
  {{#parseArray tabs}}

  <div id="{{this}}Wrapper" class="tabbedContent">
    {{> @partial-block }}
  </div>
  {{/parseArray}}
</section>

<script>
  $('input[name="tabs"]').on('change', () => {
    $('.tabbedContent').toggleClass('selected')
  })

  $('input[name="tabs"]:first').prop('checked', true)
  $('.tabbedContent:first').toggleClass('selected')
</script>